
.center {
    display:flex;
    justify-content: center;
    justify-items: center;
    font-style: normal;
    font-size: 35pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.standard {
    display: flex;
    font-style: normal;
    font-size: 25pt ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: space-around

}
.title {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 50pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.subtitle {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 25pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navcontainer {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    font-size: 45pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Magpie {
    display: flex;
    background-image: linear-gradient(red, yellow, blue);
    font-style: normal;
    font-size: 25pt ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: space-around

}
.Seagull {
    background-image: radial-gradient(red,yellow,blue);
}
.Crow {
    background-image: repeating-conic-gradient(red 10%, yellow 20%);
}
.Sparrow {
    background-image: conic-gradient(red, yellow, green);
}
.Home {
    background-image: repeating-radial-gradient(red 10%, yellow 20%);
}