
.center {
    display:flex;
    justify-content: center;
    justify-items: center;
    font-style: normal;
    font-size: 35pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.standard {
    display: flex;
    font-style: normal;
    font-size: 25pt ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: space-around
    
}
.title {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 40pt;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
.subtitle {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 25pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navcontainer {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    font-size: 45pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.imgbox{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}
.Magpie {
    background-image: linear-gradient(red, yellow, blue);

}
.Seagull {
    background-image: radial-gradient(red,yellow,blue);
}
.Crow {
    background-image: repeating-conic-gradient(red 10%, yellow 20%);
}
#Sparrow {
    background-image: conic-gradient(red, yellow,blue);
}
.Home {
    background-image: repeating-radial-gradient(red 10%, yellow 20%, orange 30%);
}
.navtex{
    display: flex;
    box-sizing: initial;
    background-color: blue;
    color: rgb(245, 133, 5);
    padding: 5px;
    border-color: black;
    border-width: 20px;
    border-style: solid;
    border-radius: 5px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 25pt;
    font-family: 'Times New Roman', Times, serif;
}
.navq{ 
    display: flex;
    align-items: center;
    box-sizing: initial; width: fit-content;
    border-width: 5px;
    background-color: blue;
    color: rgb(245, 133, 5);
    padding: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    justify-content: center;
    justify-items: center;
    font-size: 25pt;
    font-family: 'Times New Roman', Times, serif;


}
.noj{
    display:flex;
    justify-content: center;
    justify-items: center; margin-left: auto;margin-right: auto; width: fit-content;margin-top: 0.5cm;margin-bottom: 0cm;
    font-style: normal;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
    border-width: 5px;
    background-color: blue;
    color: rgb(245, 133, 5);
    padding: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}